* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(139, 25, 25);
}

.content {
    width: 100%;
    height: 500px;
}

.big-img {
    width: 80%;
    height: 100%;
    border: 2px solid white;
}

.container-img {
    height: 100%;
    position: relative;
    display: none;
}

.container-img h3,
.container-img p {
    color: white;
    position: absolute;
    right: 10px;
}

.container-img h3 {
    bottom: 100px;
}

.container-img p {
    bottom: 50px;
}

.active {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail {
    width: 20%;
}

.active-img-thumbnail {
    border: 2px solid white;
    opacity: 100%;
}

.opacity-thumbnail {
    opacity: 50%;
}

.container-img-thumbnail {
    height: calc(100% / 5);
}

.container-img-thumbnail img {
    height: 100%;
}

button {
    padding: 5px;
    border-radius: 15px;
    z-index: 1;
}

#btn-top {
    translate: -50%;
}

#btn-bottom {
    translate: 50%;
}

.container-autoplay {
    position: absolute;
    bottom: -50px;
    right: 300px;
}